.contactForm {
    display: flex;
    gap: 15px;
    width: 400px;
    align-items: center;
        flex-direction: column;
        padding: 20px 30px;
        margin-bottom: 30px;
        margin-top: 60px;
        margin-left:60px;
        border: solid 2px grey;
        border-radius: 5px;
}

.contactForm__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
   

}
.contactForm__input {
    border-radius: 3px;
    border: solid 2px grey;
}
.contactForm__button {
border: none;
    padding: 5px 7px;
    border-radius: 5px;
    background-color: #86b6ff;
}